@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
    themes: all
}

@theme {
    --font-display: "Space Grotesk", sans-serif;
    --font-paragraph: "Inconsolata", monospace;
}